body {
    font-family: Arial, sans-serif;
    background-color: #fdf6ec;
    margin: 30px;
}

h1 { 
    
    color: #d35400;
    text-align: center;
}

h2 {
    color: #8e4400;
}

section {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #cccccc;
}

/* Tabela */

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #d35400;
    color: white;
    padding: 12px;
}

td {
    border: 1px solid #cccccc;
    padding: 10px;
    text-align: center;
}

/* Ingredientes sólidos */

.solido {
    background-color: #fff2cc;
}

/* Ingredientes líquidos */

.liquido {
    background-color: #d9ead3;
}

/* Valor unitário */

.valor {
    color: blue;
    font-weight: bold;
}

/* Valor total */

.total {
    color: green;
    font-weight: bold;
}

/* Efeito ao passar o mouse */

tr:hover {
    background-color: #eeeeee;
